<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>mruby build & test report</title>
    <style>
      pre {
        white-space: -moz-pre-wrap; /* Mozilla */
        white-space: -pre-wrap;     /* Opera 4-6 */
        white-space: -o-pre-wrap;   /* Opera 7 */
        white-space: pre-wrap;      /* CSS3 */
        word-wrap: break-word;      /* IE 5.5+ */
      }
      textarea {
        width: 100%;
        height: 400px;
        font-family: monospace !important;
        font-size: 12px !important;
      }
    </style>
  </head>
  <body>
    <a name="top"></a>
    <div style="background-color:#a0a0a0;">
      <% @gitlog.each do |reponame, val| %>
        <% filepath = File.join(REPORT_DIR, "#{reponame}.html") %>
        <a href="<%= reponame %>.html"><%= reponame %></a>
      <% end %>
    </div>

    <% user, repo, comm = id.split('-') %>
    <% url = "http://github.com/#{user}/#{repo}/commit/#{comm}" %>

    <h1>mruby build & test report
      <span style="font-size:small;"><%= "(#{user}/#{repo} - #{comm})" %></span>
    </h1>

    <ul>
      <li><a href="<%= url %>" target="_blank">commit info on github</a></li>
      <%
        gitlog = @gitlog["#{user}-#{repo}"]
        gitlog = gitlog ? gitlog[:gitlog] : []
        commit_msg = gitlog.find{|v| v[0] == comm }
      %>
      <% @gitlog.each do |reponame, val| %>
        <% next unless reponame == "#{user}-#{repo}" %>
        <% if val[:gitlog].map{|v| v[0] }.include?(comm) %>
          <li><a href="<%= reponame %>.html">back to <%= reponame %></a></li>
        <% end %>
      <% end %>
      <li>
      <pre><%= CGI.escapeHTML @commitlog[id].to_s.split('diff --git ').first.to_s %></pre>
      <a href="#commitlog">commit log</a>
      </li>
  </ul>

    <h2>mrbtest</h2>
    <table border="1">
      <tr>
        <% %w(Name Build-Status Mrbtest-Status Total OK KO Crash Fail Msg).each do |key| %>
          <th><%= key %></th>
        <% end %>
      </tr>
      <% reports.keys.sort.each do |hostname| %>
        <% report = reports[hostname] %>
        <% style = (report.make[:status] == 'success' and report.make_test[:status] == 'success') ? 'background-color:#99ff99' : 'background-color:#ff9999' %>
        <tr style="<%= style %>">
          <td><a href="#<%= report.hostname %>"><%= report.hostname %></a></td>
          <td><%= report.make[:status] %></td>
          <td><%= report.test[:status] %></td>
          <td><%= report.test[:total] %></td>
          <td><%= report.test[:ok] %></td>
          <td><%= report.test[:ko] %></td>
          <td><%= report.test[:crash] %></td>
          <td><%= report.test[:fail].join('<br/>') %></td>
          <td><%= report.test[:msg].join('<br/>') %></td>
        </tr>
      <% end %>
    </table>

    <% if reports.any?{|h,report| report.posix_test } %>
      <h2>posix test</h2>
      <table border="1">
        <tr>
          <% %w(Name Status Total OK KO Crash Fail Msg).each do |key| %>
            <th><%= key %></th>
          <% end %>
        </tr>
        <% reports.keys.sort.each do |hostname| %>
          <% report = reports[hostname] %>
          <% style = report.posix[:status] == 'success' ? 'background-color:#99ff99' : 'background-color:#ff9999' %>
          <tr style="<%= style %>">
            <td><a href="#<%= report.hostname %>"><%= report.hostname %></a></td>
            <td><%= report.status %></td>
            <td><%= report.posix[:total] %></td>
            <td><%= report.posix[:ok] %></td>
            <td><%= report.posix[:ko] %></td>
            <td><%= report.posix[:crash] %></td>
            <td><%= report.posix[:fail].join('<br/>') %></td>
            <td><%= report.posix[:msg].join('<br/>') %></td>
          </tr>
        <% end %>
      </table>
    <% end %>

    <h2>environment <span style="font-size:small;"><a href="#top">#top</a></span></h2>
    <table border='1'>
      <tr>
        <th>Name</th>
        <th>software version</th>
      </tr>
      <% reports.keys.sort.each do |hostname| %>
        <% report = reports[hostname] %>
        <tr>
          <td rowspan="3"><%= report.hostname %></td>
          <td><b>gcc</b><br/><pre><%= report.env[:gcc][:stdout] %></pre></td>
        </tr>
        <tr><td><b>make</b><br/><pre><%= report.env[:make][:stdout] %></pre></td></tr>
        <tr><td><b>bison</b><br/><pre><%= report.env[:bison][:stdout] %></pre></td></tr>
      <% end %>
    </table>

    <h2>Build Log</h2>
    <% reports.keys.sort.each do |hostname| %>
      <% report = reports[hostname] %>
      <h3><a name="<%= hostname %>"><%= hostname %></a> <span style="font-size:small;"><a href="#top">#top</a></span></h3>
      <table border='1' style="width:90%;">
        <tr>
          <th style="width:100px;">task</th>
          <th>stdout</th>
          <th>stderr</th>
        </tr>
        <tr>
          <th>make</th>
          <td><textarea><%= report.make[:stdout] %></textarea></td>
          <td><textarea><%= report.make[:stderr] %></textarea></td>
        </tr>
        <tr>
          <th>make test</th>
          <td><textarea><%= report.make_test[:stdout] %></textarea></td>
          <td><textarea><%= report.make_test[:stderr] %></textarea></td>
        </tr>
        <% if report.posix %>
          <tr>
            <th>posix test</th>
            <td><textarea><%= report.posix[:stdout] %></textarea></td>
            <td><textarea><%= report.posix[:stderr] %></textarea></td>
          </tr>
        <% end %>
      </table>
    <% end %>

    <h2><a name="commitlog">commit log</a> <span style="font-size:small;"><a href="#top">#top</a></span></h2>
      <pre><%= CGI.escapeHTML @commitlog[id].to_s.to_s %></pre>

  </body>
</html>
