<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>mruby build & test report</title>
  </head>
  <body>
    <div style="background-color:#a0a0a0;">
      <% @gitlog.each do |repo, val| %>
        <% filepath = File.join(REPORT_DIR, "#{repo}.html") %>
        <% if repo == reponame %>
          <b><%= repo %></b>
        <% else %>
          <a href="<%= repo %>.html"><%= repo %></a>
        <% end %>
      <% end %>
    </div>

    <% architectures = %w(centos32bit centos64bit freebsd32bit freebsd64bit mac-lion mac-ppc netbsd32bit netbsd64bit netbsd_arm netbsd_mips openbsd32bit openbsd64bit ubuntu32bit ubuntu64bit netbsd_arm_nb6).sort %>
    <% user, repo = reponame.split("-"); url = "https://github.com/#{user}/#{repo}" %>
    <h1>mruby build & test report (<a href="<%= url %>"><%= reponame %></a>)</h1>
    <% reponame = reponame.split('-')[0, 2].join('-')  if reponame.split('-').size >= 3 %>
    <table border="1">
      <tr>
        <th>CommitID</th>
        <th colspan="<%= architectures.size %>">status</th>
        <th>Comment / Author / Date</th>
      </tr>
      <% gitlog.each do |log| %>
        <tr>
          <% id = "#{reponame}-#{log[0]}" %>
          <% if @reports[id] %>
            <% status = @reports[id].all?{|hostname,rep| rep.success? } %>
            <% style = status ? 'background-color:#99ff99' : 'background-color:#ff9999' %>
            <td style="<%= style %>"><a name="<%= id %>"></a><a href="<%= id %>.html"><%= log[0] %></a></td>
          <% else %>
            <td><a name="<%= id %>"></a><%= log[0] %></td>
          <% end %>
          <% architectures.each do |arch| %>
            <% report = @reports[id] ? @reports[id][arch] : nil %>
            <% if report && report.success? %>
              <td style="background-color:#99ff99;">
                <a href="<%= "#{id}.html##{arch}" %>" title="<%= "build & test success on #{arch}" %>">o</a>
              </td>
            <% elsif report %>
              <td style="background-color:#ff9999;">
                <a href="<%= "#{id}.html##{arch}" %>" title="<%= "build failed on #{arch}" %>">x</a>
              </td>
            <% else %>
              <td>-</td>
            <% end %>
          <% end %>
          <td style="font-size:small;">
          <%
            author, date = nil
            commit = @commitlog[id].to_s.split(/\n/)
            commit.each do |line|
              case line
              when /^Author\:/
                author = line.sub('Author: ', '')
              when /^Date\:/
                date = line.sub(/^Date\:\s+/, '')
              end
            end
           %>
           <%= log[1] %>
           <% user, repo, comm = id.split('-') %>
           <% url = "http://github.com/#{user}/#{repo}/commit/#{comm}" %>
           (<a href="<%= url %>" target="_blank">github</a>)
           <% if author or date %>
             <br />
             <%= author %> / <%= date %>
           <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
